body {
  background: linear-gradient(180deg, #fae2d7 0%, #5165d6 100%);
  background-attachment: fixed;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;

}

.rounded-pill {
  text-align: center;
  border: #c9896b;
}

.rounded-circle {
  font-size: 20px;
  border: none;
  color: #5165d6;
  position: relative;
  left: 41%;
  top: -52px;
  transition: all 200ms ease-in-out;
}

.rounded-circle:hover {
  transition: all 200ms ease-in-out;
  color: #fae2d7;
  background: #5165d6;
}

.card {
  width: 60%;
  height: auto;
  position: relative;
  margin-bottom: 10%;
  margin: 2% auto;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #4c58a7;
  border-color: #fae2d7;

  width: 100%;
}
.card-body {
  padding: 20px 0px;
  background-color: #fae2d7;
  text-align: center;
}

.locations {
  display: center;
  width: 50%;
  margin: auto;
  border: #5165d6;
  padding: 0;
}

.forecast-description {
  margin-left: -465px;
  margin-top: 80px;
  margin-bottom: -30px;
  font-size: 40px;
  color: #5165d6;
  font-weight: bold;
  transform: rotate(-90deg);
}

.square {
  font-size: 25px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: -120px;
}

.fa-map-marker-alt {
    padding: 0px;
margin-top:25px;
}


.locationIcon {
  position: relative;
  text-shadow: 2px 2px 5px #c9896b;
  color: #fceae6;
  font-size: 30px;
  left: 0px;
  margin-top: -100px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  z-index: 1;
}

.Day-Month {
  position: absolute;
  color: #5165d6;
  text-align: left;
  margin-left: 6%;
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 15px;
}
.time {
  position: absolute;
  margin-left: 195px;
  margin-top: 13px;
  font-size: 13px;
  color: #5165d6;
  font-weight: thin;
  transform: rotate(-270deg);
  float: left;
  z-index: 1;
}

.todays-temp {
  position: absolute;
  margin-top: -70px;
  left: 67.5%;
  text-shadow: 2px 2px 5px #462f24;
  color: #faede8;
  font-size: 100px;
  font-weight: bold;
  z-index: 1;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a {
  color: #5165d6;
  cursor:default;

}
.cAndF {
  font-size: small;
  position: absolute;
  margin-top: 198px;
  margin-left: -135px;
  z-index: 1;

}

.C {
color: black;
cursor:default;
text-decoration:none;
}

.C:hover {
     color: black;

text-decoration:none;
}
.F {
cursor:default;
 color: black;
 text-decoration:none;
}

.F:hover {
color:black;
text-decoration:none;
}


.forecast {
  position: absolute;
  margin-left: 115px;
  margin-top: 180px;
}

.rounded-1 {
  position: relative;
  box-shadow: 2px 2px 5px #4c58a7;
  margin-top: 15px;
  left: 28%;
}

.high-temperature-word {
  position: relative;
  margin-top: 15px;
  margin-left: 240px;
  font-size: 14px;
  z-index: 1;
}
.high-temperature-degree {
  position: relative;
  margin-top: 0px;
  margin-left: 240px;
  font-size: 14px;
  z-index: 1;
}

.low-temperature-word {
  position: relative;
  margin-top: -43.5px;
  margin-left: 385px;
  font-size: 14px;
  z-index: 1;
}

.low-temperature-degree {
  position: relative;
  margin-top: -15.5px;
  margin-left: 385px;
  font-size: 14px;
  z-index: 1;
}

.humidity {
  position: relative;
  margin-top: 31px;
  margin-left: 330px;
  font-size: 14px;
  z-index: 1;
}

.wind-speed {
  margin-top: 2px;
  margin-left: 315px;
  font-size: 14px;
  z-index: 1;
}

.air-quality-index {
  position: relative;
  margin-top: -48px;
  margin-left: 450px;
  font-size: 10px;
  z-index: 1;
}

.align-items-center-row-emoji-day1 {
  text-align: left;
  margin-top: -330px;
  margin-left: 3.5%;
}

.align-items-center-row-temp-day1 {
  position: relative;
  text-align: left;
  margin-top: 3px;
  margin-left: 3.5%;
  font-size: 13px;
}

.align-items-center-row-weekday-day1 {
  position: relative;
  text-align: left;
  margin-top: 3px;
  margin-left: 3.5%;
  margin-bottom: 20px;
  font-size: 12px;
}


.align-items-center-row-emoji-day2 {
  position: relative;
  text-align: left;
  margin-top: 10px;
  margin-left: 3.5%;
  width:42px;
}

.align-items-center-row-temp-day2 {
  position: relative;
  text-align: left;
  margin-top: 3px;
  margin-left: 3.5%;
  font-size: 13px;
}

.align-items-center-row-weekday-day2 {
  position: relative;
  text-align: left;
  margin-top: 3px;
  margin-left: 3.5%;
  margin-bottom: 20px;
  font-size: 12px;
}

.emoji-futureday {
  text-align: left;
  margin-top: 0px;
  margin-left: 3.5%;
  padding-top: 0px;
}

.temp-futureday {
  position: relative;
  text-align: left;
  margin-top: 0px;
  margin-left: 3.5%;
  font-size: 13px;
}

.weekday-futureday {
  position: relative;
  text-align: left;
  margin-top: 0px;
  margin-left: 3.5%;
  font-size: 12px;
}

.iconpurple {
  position: absolute;
  color: #5165d6;
  width: 50px;
  margin-left: -255px;
  margin-top: -325px;
}

.iconpink {
  position: absolute;
  margin-top: -39px;
  margin-left: 10px;
  width: 125px;
}

.footer {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 10px;
  color: #fceae6;
  margin-top: -13px;
}
.footerCoder {
  color: #fceae6;
}
