body {
  background: linear-gradient(180deg, #fae2d7 0%, #5165d6 100%);
  background-attachment: fixed;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;

}

.rounded-pill {
  text-align: center;
  border: #c9896b;
}

.rounded-circle {
  font-size: 20px;
  border: none;
  color: #5165d6;
  position: relative;
  left: 41%;
  top: -54px;
  transition: all 200ms ease-in-out;
}

.rounded-circle:hover {
  transition: all 200ms ease-in-out;
  color: #fae2d7;
  background: #5165d6;
}

.card {
  width: 60%;
  height: auto;
  position: relative;
  margin-bottom: 10%;
  margin: 2.9% auto;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #4c58a7;
  border-color: #fae2d7;
  width: 100%;
}
.card-body {
  padding: 20px 0px;
  background-color: #fae2d7;
  text-align: center;
}

.locations {
  display: center;
  width: 50%;
  margin: auto;
  border: #5165d6;
  padding: 0;
}

.forecast-description {
  margin-left: -465px;
  margin-top: 80px;
  margin-bottom: -30px;
  font-size: 40px;
  color: #5165d6;
  font-weight: bold;
  transform: rotate(-90deg);
}

.square {
  font-size: 25px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: -130px;
}


.Day-Month {
  position: absolute;
  color: #37342f;
  text-align: left;
  margin-left: 6%;
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 16px;
}
.time {
  position: absolute;
  margin-left: 190px;
  margin-top: 13px;
  font-size: 14px;
  color: #37342f;
  font-weight: thin;
  transform: rotate(-270deg);
  float: left;
  z-index: 1;
}

.todays-temp {
  position: absolute;
  margin-top: -60px;
  left: 67.5%;
  text-shadow: 2px 2px 5px #462f24;
  color: #faede8;
  font-size: 100px;
  font-weight: bold;
  z-index: 1;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a {
  color: #fae2d7;
  cursor:default;

}
.cAndF {
  font-size: small;
  position: absolute;
  margin-top: -25px;
  font-size: 28px;
  margin-left: 235px;
  z-index: 1;

}

.C {
color: #37342f;
cursor:default;
text-decoration:none;

}

.C:hover {
     color: #5165d6;

text-decoration:none;
}
.F {
cursor:default;
 color: #37342f;
 text-decoration:none;

}

.F:hover {
color:#5165d6;
text-decoration:none;
}


.humidityAndWindBox {
  position: absolute;
  margin-left: 60px;
  margin-top: 110px;
  font-size: 12px;
  color: #000;

}

.humidity {
padding:3.5px;
}

#humidity {
    color:#5165d6
}

.humidityPercentage {
color:#5165d6
}

.wind-Speed-Percentage {
color:#5165d6
}

#wind-Speed {
color:#5165d6
}

.rounded-1 {
  position: relative;
  box-shadow: 2px 2px 5px #4c58a7;
  margin-top: 25px;
  left: 28%;
}

.high-temperature-word {
  position: relative;
  margin-top: 15px;
  margin-left: 240px;
  font-size: 14px;
  z-index: 1;
}
.high-temperature-degree {
  position: relative;
  margin-top: 0px;
  margin-left: 240px;
  font-size: 14px;
  z-index: 1;
}

.low-temperature-word {
  position: relative;
  margin-top: -43.5px;
  margin-left: 385px;
  font-size: 14px;
  z-index: 1;
}

.low-temperature-degree {
  position: relative;
  margin-top: -15.5px;
  margin-left: 385px;
  font-size: 14px;
  z-index: 1;
}

.air-quality-index {
  position: relative;
  margin-top: -48px;
  margin-left: 00px;
  font-size: 10px;
  z-index: 1;
}

.align-items-center-row-emoji-day1 {
  text-align: left;
  margin-top: -330px;
  margin-left: 3%;
}

.align-items-center-row-temp-day1 {
  position: relative;
  text-align: left;
  margin-top: 1px;
  margin-left: 3.5%;
  font-size: 13px;
}

.align-items-center-row-weekday-day1 {
  position: relative;
  text-align: left;
  margin-top: 2px;
  margin-left: -2.4%;
  margin-bottom: 20px;
  font-size: 12px;
}


.align-items-center-row-emoji-day2 {
  position: relative;
  text-align: left;
  margin-top: 30px;
  margin-left: -540px;
  width:42px;
}

.align-items-center-row-temp-day2 {
  position: relative;
  text-align: left;
  margin-top: 70px;
  margin-left: -5.5%;
  font-size: 13px;
}

.align-items-center-row-weekday-day2 {
  position: relative;
  text-align: left;
  margin-top: 3px;
  margin-left: -2.5%;
  margin-bottom: 20px;
  font-size: 12px;
}


.weather-forecast-temperature-min {
      opacity: 0.4;
        color: #5165d6;
        font-weight: bold;
} 
    


.iconpurple {
  position: absolute;
  color: #5165d6;
  width: 80px;
  margin-left: -265px;
  margin-top: -330px;
}

.iconpink {
  position: absolute;
  margin-top: -29px;
  margin-left: 10px;
  width: 125px;
}

.footer {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 10px;
  color: #fceae6;
  margin-top: -20px;
}
.footerCoder {
  color: #fceae6;
}


.weather-forecast-temperature-max { 
color: #5165d6;
font-weight: bold;
}

.weather-forecast-date {
color:#83817e; 
font-weight:bold;
font-size: 13px;
opacity: 0.6;
}